.landingCourse-container {
  /* border: solid red; */
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.landingCourse-container > h2 {
  font-size: 40px;
  text-align: center;
}
.landingCourse-content {
  /* border: solid green; */
  border-radius: 20px;
  overflow: hidden;
  height: 100%;
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: black;
}
.landingCourse-content > img {
  width: 100%;
  height: 430px;
  object-fit: cover;
  border-radius: 20px;
}
.landingCourse-wrapper {
  /* border: solid yellow; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.landingCourse-content > button {
  background-color: black;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.landingCourse-content > button > a {
  text-decoration: none;
}
.landingCourse-content > button > a > b {
  color: var(--customColor1);
  margin-top: 10px;
}
.landingCourse-content > button > a > p {
  color: var(--customColor1);
}
.landingCourse-display {
  width: 100%;
}
.course-btn {
  background-color: black;
  border-radius: 8px;
  padding: 12px 16px;
  text-align: center;
  text-decoration: none;
  color: var(--customColor1);
  width: 90%;
  margin: 10px 0;
  transition: background-color 0.3s;
}

.click-btn {
  background-color: var(--customColor1);
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 6px;
  margin-bottom: 20px;
  font-weight: bold;
  transition: background-color 0.3s;
    border: 2px solid transparent;

}

.click-btn:hover {
  border: 2px solid var(--customColor1);
  background-color: black;
  color: white;

}
@media screen and (max-width: 768px) {
  .landingCourse-container {
    /* border: solid red; */
    padding: 10px;
  }
  .landingCourse-wrapper {
    /* border: solid yellow; */
    flex-direction: column;
  }
  .landingCourse-content {
    /* border: solid green; */

    height: 100%;
    width: 300px;
    margin: 10px;
  }
  .landingCourse-content > img {
    width: 100%;
    height: 250px;
  }
  .landingCourse-container > h2 {
    font-size: 30px;
    width: 100%;
  }
}
