.landingCourse-container {
  /* border: solid red; */
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}
.landingCourse-container > h2 {
  font-size: 40px;
  text-align: center;
}
.landingCourse-content {
  /* border: solid green; */
  border-radius: 20px;
  overflow: hidden;
  height: 100%;
  width: 500px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: black;
}
.landingCourse-content > img {
  width: 100%;
  height: 430px;
  object-fit: cover;
  border-radius: 20px;
}
.landingCourse-wrapper {
  /* border: solid yellow; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}
.landingCourse-content > button {
  background-color: black;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.landingCourse-content > button > a {
  text-decoration: none;
}
.landingCourse-content > button > a > b {
  color: var(--customColor1);
  margin-top: 10px;
}
.landingCourse-content > button > a > p {
  color: var(--customColor1);
}
.landingCourse-display {
  width: 100%;
}
.course-btn {
  background-color: black;
  border-radius: 8px;
  padding: 12px 16px;
  text-align: center;
  text-decoration: none;
  color: var(--customColor1);
  width: 90%;
  margin: 10px 0;
  transition: background-color 0.3s;
}

.click-btn {
  background-color: var(--customColor1);
  color: white;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 6px;
  margin-bottom: 20px;
  font-weight: bold;
  transition: background-color 0.3s;
  border: 2px solid transparent;
}

.click-btn:hover {
  border: 2px solid var(--customColor1);
  background-color: black;
  color: white;
}
@media screen and (max-width: 768px) {
  .landingCourse-container {
    /* border: solid red; */
    padding: 10px;
  }
  .landingCourse-wrapper {
    /* border: solid yellow; */
    flex-direction: column;
  }
  .landingCourse-content {
    /* border: solid green; */

    height: 100%;
    width: 300px;
    margin: 10px;
  }
  .landingCourse-content > img {
    width: 100%;
    height: 250px;
  }
  .landingCourse-container > h2 {
    font-size: 30px;
    width: 100%;
  }
}

/* --------------------Footer------------------------------ */

.footerContainer {
  /* border: solid red; */
  height: 100%;
  width: 100%;
  background-color: black;
  /* margin-top: 40px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.footerContent1 {
  /* border: solid blue; */
  height: 73%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 80px;
  background-color: black;
  padding: 20px;
}
#socialTxt {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerItem > img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}
.footerItem1 {
  /* border: solid green; */
  height: 300px;
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.footerTxt1 {
  /* border: solid purple; */
  height: 30%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.footerTxt > a {
  color: white;
  text-decoration: none;
}
.footerTxt1 > h3 {
  font-size: 20px;
  color: white;
  font-weight: lighter;
}
#footerTxtTerms > a > h3 {
  font-size: 30px;
  color: white;
  font-weight: lighter;
}
.footerTxt2 {
  /* border: solid red; */
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 15px;
}
.footerTxt {
  /* border: solid; */
  width: 100%;
  font-size: 15px;
  color: white;
  cursor: pointer;
}
.footerTxt:hover {
  text-decoration: underline;
}
.footerContent2 {
  /* border: solid red; */
  border-top: 2px solid white;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.footerIcon {
  width: 100%;
  height: 80%;
  color: white;
  font-size: 100%;
  cursor: pointer;
}
.footerCopy {
  /* border: solid; */
  width: 450px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.footerCopy1 {
  /* border: solid blue; */
  height: 100%;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: white;
}
.footerCopy1 > a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerCopy2 {
  /* border: solid blue; */
  height: 70px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  color: white;
  border-radius: 10px;
}
.footerCopy2 > a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerCopy2 > a > img {
  width: 100%;
  height: 100%;
  background-color: white;
  object-fit: cover;
  transform: scale(2);
  border-radius: 10px;
}
.footerCopy1 > a > img {
  width: 100%;
  height: 100%;
  background-color: white;
  transform: scale(1.5);
  border-radius: 10px;
}
.socialBlocks {
  /* border: solid white; */
  height: 100%;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.innerSocialBlocks {
  /* border: solid red; */
  height: 100%;
  width: 50%;
}
.footerIcon {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.block {
  /* border: solid yellow; */
  height: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.block > a {
  /* border: solid yellow; */
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerTxt1 > h3 > a {
  text-decoration: none;
  color: white;
}
#footerItem6 {
  /* border: solid red; */
  width: 300px;
}
#footerContact-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}
#footerContact-content > a {
  width: 90%;
}
.contact-icon {
  width: 30px;
  height: 30px;
}
.footer-despContainer {
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}
.footer-despContainer > img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}
.footer-despContainer > h3 {
  color: white;
}
.footer-despContainer > p {
  color: white;
  font-size: 16px;
  text-align: justify;
}
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .footerContainer {
    /* border: solid blue; */
    height: 100%;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
  }
  .footerContent1 {
    /* border: solid red; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 10px;
    margin-top: 0px;
    padding: 20px;
  }

  .footerItem1 {
    /* border: solid green; */
    height: 100%;
    width: 100%;
    gap: 20px;
    padding: 20px;
  }
  .footerTxt1 {
    /* border: solid red; */
    height: 100%;
    width: 100%;
  }
  .footerTxt1 > h3 {
    font-size: 20px;
    font-weight: bold;
  }
  .footerTxt2 {
    /* border: solid green; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
  }
  .footerTxt {
    /* border: solid; */
    width: 100%;
    font-size: 20px;
    color: white;
  }
  .footerTxt1 > h3 > a {
    color: white;
  }
  #footerItem3 {
    /* border: solid yellowgreen; */
    height: 100%;
    width: 100%;
    margin-top: 30px;
  }
  .footerContent2 {
    /* border: solid blue; */
    border-top: 3px solid white;
    height: 10%;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column-reverse;
    padding: 20px;
  }
  .socialBlocks {
    /* border: solid pink; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  #socialTxt {
    /* border: solid yellow; */
    width: 100%;
  }
  .innerSocialBlocks {
    /* border: solid red; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .footerIcon {
    /* border:solid purple; */
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .block {
    /* border: solid brown; */
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footerTxt1 > a > h3 {
    text-decoration: none;
    color: white;
  }

  .footerCopy1 {
    /* border: solid red; */
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
  .footerCopy {
    /* border: solid; */
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  }

  .footerCopy1 > a > img {
    width: 100%;
  }
  .footerCopy1 > p {
    font-size: 100%;
  }
  .footerCopy1 {
    width: 100%;
  }
  .footer-despContainer {
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}
}
