.chef-section {
  display: flex;
  flex-wrap: wrap;
  background: #fff;
  padding: 50px;
  align-items: center;
  gap: 40px;
}

.chef-image {
  flex: 1 1 300px;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chef-image img {
  width: 350px;
  height: 350px;
  object-fit: cover;
  height: auto;
  display: block;
  border-radius: 20px;
}

.chef-content {
  flex: 1 1 400px;
}
.chef-content > b {
  padding: 5px;
  color: var(--customColor1);
  background-color: black;
  border-radius: 20px;
}
.chef-content h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: black;
}

/* .chef-content h2 span {
  color: var(--customColor1);
} */

.chef-content .chef-intro,
.chef-content .chef-bio {
  color: black;
  margin-bottom: 20px;
  line-height: 1.6;
}

.chef-stats {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

.stat-box {
  background: black;
  border-radius: 10px;
  padding: 20px 30px;
  text-align: center;
}

.stat-number {
  display: block;
  font-size: 2em;
  font-weight: bold;
  color: var(--customColor1);
}

.stat-label {
  font-size: 0.95em;
  color: var(--customColor1);
}
.stat-icon {
  color: var(--customColor1);
  font-size: 0.95em;
}
#stat-label3 {
  width: 300px;
}
@media (max-width: 768px) {
  .chef-section {
    flex-direction: column;
    padding: 10px;
  }
  .chef-image {
    flex: 1 1 100%;
  }
  .chef-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    height: auto;
    display: block;
    border-radius: 20px;
  }
  .chef-stats {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .chef-content h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: black;
    text-align: center;
  }
  .stat-box {
    background: black;
    border-radius: 10px;
    padding: 20px 30px;
    text-align: center;
    width: 100%;
  }
}
