.landingFooter-container {
  /* border: solid red; */
  width: 100%;
  padding: 0px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
}
.landingFooter-content {
  /* border: solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
  color: var(--customColor1);
  padding: 10px;
  font-weight: bold;
  width: 50%;
}
.landingFooter-content > p {
  display: flex;
  justify-content: center;
  align-items: center;
}
.landingFooter-Icon {
  font-size: 30px;
  color: var(--customColor1);
}
@media screen and (max-width: 768px) {
  .landingFooter-container {
  flex-direction: column-reverse;
  width: 100%;
  }
  .landingFooter-content:nth-child(1) {
    width: 100%;
  }
  .landingFooter-content {
    /* border: solid blue; */
    width: 100%;
  }
}
